body {
    background: #000;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

div.game-meta {
    position: fixed;
    top: 0;
    right: 0;
    text-align: right;
}

    div.game-meta input, div.game-meta div {
        margin: 5px;
    }

        div.game-meta input#restartLevel, div.game-meta input#restartGame {
        }

        div.game-meta div#currentLevel {
            right: 0;
            text-align: right;
        }

        div.game-meta div#position {
            right: 0;
            text-align: right;
        }

canvas#display {
    width: 100%;
    height: 95%;
}
